# File /usr/lib/systemd/system/ess-reader.service
[Unit]
Description=ESS Reader timer

[Service]
Type=oneshot
Nice=19
ExecStart=/usr/bin/ess-reader --cron