# File /usr/lib/systemd/system/ess-reader.timer
[Unit]
Description=dnf-automatic timer

[Timer]
OnUnitActiveSec=60
Persistent=true

[Install]
WantedBy=basic.target