# File /usr/lib/systemd/system/ess-reader.service
[Unit]
Description=ESS Reader

[Service]
Type=oneshot
Nice=19
ExecStart=/usr/bin/dnf-automatic /etc/dnf/automatic.conf --timer