# File /usr/lib/systemd/system/ess-reader.timer
[Unit]
Description=ess-reader timer

[Timer]
OnUnitActiveSec=60
Persistent=true

[Install]
WantedBy=basic.target